*{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    width: 90%;
    margin: auto;
}

#nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#topbar a{
    font-size: 20px;
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
#nav a{
    margin: 0 10px;
}
#topbar a:hover{
    border-bottom: 2px solid black;
}

#items{
    overflow-x: hidden;
    width: 100%;
}
th{
    text-align: left;
}
td, th { 
    overflow-wrap: anywhere;
}
button a{
    color: black;
    text-decoration: none;
}

th{
    cursor: pointer;
    padding-right: 30px;
}
#topbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content a {
    margin: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}