{%extends "teams/teamBase.html"%}

{%block teamContent %}
    <div id="allTeams">
        <table>
            <tr>
                <th>Team</th>
                <th>Abb</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th></th>
            </tr>
            {%for team in teams %}
                <tr>
                    <td><a href="/team/{{team.id}}">{{team.name}}</a></td>
                    <td>{{team.abbreviation}}</td>
                    <td>{{team.wins}}</td>
                    <td>{{team.losses}}</td>
                    <td>{{team.ties}}</td>
                    <td>
                        {%include "teams/favButton.html"%}
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>
{%endblock%}