{%extends "teams/teamBase.html"%}

{%block teamContent %}
    <table>
        <th>Team</th>
        <th></th>
        <th>Roster</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Un-star</th>
        {%for team in teams %}
            <tr>
                <td>{{team.name}}</td>
                <td>{{team.abbreviation}}</td>
                <td><a href="javascript: void(0)">Players</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <form method="POST"> {% csrf_token %}
                        <input type="text" value="{{team.id}}" name="id" style="display: none;">
                        {% if request.user.id in team.users %}
                            <input type="submit" value="Un-star" name="unstar">
                        {% else %}
                            <input type="submit" value="Favorite" name="star">
                        {%endif%}
                    </form>
                </td>
            </tr>
        {%endfor%}
    </table>
{%endblock%}