{%extends "teams/teamBase.html"%}

{%block teamContent %}
    <div id="myTeams">
        <table>
            <th>Team</th>
            <th>Abb</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Page</th>
            <th></th>
            {%for team in teams %}
                <tr>
                    <td>{{team.name}}</td>
                    <td>{{team.abbreviation}}</td>
                    <td>{{team.wins}}</td>
                    <td>{{team.losses}}</td>
                    <td>{{team.ties}}</td>
                    <td><a href="/team/{{team.id}}">Roster</a></td>
                    <td>
                        <form method="POST"> {% csrf_token %}
                            <input type="text" value="{{team.id}}" name="id" style="display: none;">
                            {% if request.user.id in team.users %}
                                <input type="submit" value="Un-star" name="unstar">
                            {% else %}
                                <input type="submit" value="Favorite" name="star">
                            {%endif%}
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>
{%endblock%}